body{
font-family: Helvetica, sans-serif;
background-color: #e2beff;
}

html{
    background-color: #e2beff;
    text-align: center;
}
/*頁首酷東東*/
#sequence-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;       
  overflow-x: hidden;
  overflow-y: visible;
}

#image-sequence {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.top-banner{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.banner-img{
  position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto ;
    
}
.sec-banner{
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.sec-banner-img{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto ;
}
.scrl1{
          position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height:100vh;
        overflow-y: hidden;
}
.scrl2{
          position: absolute;
        left: 0;
        top:200;
        width: 100%;
        height:auto;
        overflow-y: hidden;
        transform-origin:center bottom;
}
@media (max-width: 768px) {
.scrl2{
visibility: hidden;
}
}
.main-content{
    background-color: #eff1f5;
    margin-left:auto ;
    margin-right: auto;
    width: 100%;
    height:auto ;
}
p{
    text-align: center;
    color:#7565af;
}
h1{
    text-align: center; 
}
h3{
    color:#562d6a;
}
h5{
    color:#7b5cb5;
}
.icon1{
    max-width:40%;
    height:auto;
    background-color: #562d6a;
        display: block;
    margin-left: auto;
    margin-right: auto ;
    border-radius: 5%;
}
footer{
 padding-top: 3%;
background-color: #72acb2;
text-align: center;
width :100%;
color:white;
}
.mynav{
    background-color: #8650a1;
    color:white;
    
}

#linkcolor{
  color: #fff;
}

.a02{ 
    width:80%;
    margin-left: auto;
    margin-right: auto ;
}

